includes:
	- ../../../vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    reportUnmatchedIgnoredErrors: false
    level: 4
    symfony:
        container_xml_path: ../../../var/cache/dev/App_KernelDevDebugContainer.xml